@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Litoral SP - Tour do Pelé</title>
    <link rel="stylesheet" href="~/css/RoteiroPele.css">
</head>
<body>
    <nav class="navi">
        <p class="Nome">Guia Litoral SP </p>
        <div class="imagens-nav">
            <img src="img/Conta.png" class="Conta">
            <img src="img/Menu.png" class="Menu">
        </div>
    </nav>
    <div class="container">
        <h1>Tour do Pelé: O Rei do Futebol</h1>
        <div class="Container-Imagens">
            <div class="imagem-principal">
                <img src="~/img/RoteiroPelé1.jpg" alt="Imagem 1">
            </div>
            <div class = "imagens">
            <div class="imagens">
                <img src="~/img/RoteiroPelé2.jpeg" alt="Imagem 2">
            </div>
            <div class="imagens">
                <img src="~/img/RoteiroPelé3.jpeg" alt="Imagem 3">
            </div>
            <div class="imagens">
                <img src="~/img/RoteiroPelé4.jpg" alt="Imagem 4">
            </div>
            <div class="imagens">
                <img src="~/img/RoteiroPelé5.jpg" alt="Imagem 5">
            </div>
        </div>
        </div>
        <div class="content">
            <div class="section">
                <h2>Informações</h2>
                <ul class="info-list">
                    <li>9:00 - Encontro no hotel Novotel Santos Gonzaga</li>
                    <li>9:45 - Chegada ao Memorial das Conquistas</li>
                    <li>10:50 - Museu Pelé</li>
                    <li>11:50 - Monumento ao Camisa 10</li>
                    <li>12:20 - Memorial Necrópole Ecumenica</li>
                    <li>13:00 - Podoca Santista</li>
                    <li>13:30 - Mural de Eduardo Kobra</li>
                    <li>14:30 - Hotel Novotel</li>
                </ul>
                <p>Inclui: transporte, guia de turismo e ingressos para o Museu do Pelé e o Memorial das Conquistas do Santos F.C.</p>
                <p>Não Inclui: Alimentação</p>
                <p>Observações: a realização deste passeio condicionada a um número mínimo de inscritos. No caso de não ocorrer, os participantes poderão optar por participar de outro passeio ou terem os valores ressarcidos integralmente.</p>
                <p>A programação pode ser alterada devido a questões operacionais.</p>
                <p>As inscrições devem ser realizadas previamente.</p>
            </div>
            <div class="section">
                <h2>Contatos</h2>
                <div class="contato">
                    <i class="fas fa-phone-alt"></i>
                    <p>+55 11 99544-9825 (São Paulo)</p>
                </div>
                <div class="contato">
                    <i class="fas fa-phone-alt"></i>
                    <p>+55 13 99771-9825 (Santos)</p>
                </div>
                <p>Site: <a href="https://mymento.com.br/parceiros-do-turismo/o-rei-do-futebol-em-santos-5-horas-2908">https://mymento.com.br/parceiros-do-turismo/o-rei-do-futebol-em-santos-5-horas-2908</a></p>
                <p>Email: contato@parceirosdoturismo.com.br</p>
            </div>
            <div class="section">
                <h2>Roteiro</h2>
                <p>Partiremos para a Vila Belmiro, lá encontra-se o Estádio Urbano Caldeira, onde visitaremos o Memorial das Conquistas do Santos F.C. Faremos um tour completo, com visita a sala de troféus, sala de imprensa, vestiários e gramado. Passaremos pelo Centro de Treinamento Rei Pelé e iremos para o Museu Pelé, onde estão expostos artigos que remetem a vida do gênio do futebol e à sua história. Uma passadinha no Monumento ao Camisa 10.</p>
                <p>Em seguida, iremos ao Memorial Necrópole Ecumênica. Depois, um tour panorâmico na orla da praia e uma parada na famosa Padoca... <a href="#">Leia Mais</a></p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-links">
            <a href="#">Política de privacidade</a>
            <a href="#">Termos de Uso</a>
            <a href="#">Ajuda</a>
        </div>
        <div class="footer-icons">
            <a href="#"><img src="~/img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="~/img/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="~/img/email.png" alt="Email"></a>
        </div>
        <div class="footer-copyright">
            &copy; Copyright
        </div>
    </footer>
</body>
</html>
